---
layout: default
prism: true
---


<div class="container mt-6  px-6">
    <a href="/blog" class="button is-info">Back to post list</a><br><br>
    <container>
        <div class="px-6 mb-5 border-b border-gray-100">
            <h1 class="title is-black">{{ title }}</h1>
            <hr style="background-color: black;">
            <p class="text-center text-base leading-6 font-medium text-gray-500">
                <time> {{ date | readableDate }} by {{ author }}</time>
            </p>
            <article class="prose lg:prose-xl my-4 mx-auto">
                {{ content | safe }}
            </article>
        </div>
    </container>
</div>

<style>
    p img {
        width: 50%;
    }
</style>