---
layout: blog
---

<section>
        <div class="grid">
            {% set postslist = collections.post | reverse %}
            {% for post in postslist %}
            <div class="column" style="padding:0 !important; display: inline-flex;">
                <div class="tile is-parent">
                    <article class="tile is-child notification"
                    {% if loop.index0 == 0 %} style="background-color: #3273dc"
                    {% elseif loop.index0 == 1 %} style="background-color: #3298dc"
                    {% else %} style="background-color: #70bef3"
                    {% endif %};>
                            {% if post.data.title %}
                                <!-- | split(35) -->
                                <h3 class="is-white">{{ post.data.title }}</h3>
                            {% endif %}
                            <hr>
        
                            {% if post.data.description %}
                                <p class="is-white">
                                    {{ post.data.description }}
                                </p><br>
                            {% endif %}
        
                            <p>
                                <a href="{{ post.url | url }}" class="read-more-btn">
                                    Read more →
                                </a>
                            </p>
                    </article>
                </div>
            </div>
            {% endfor %}
        </div><br>
</section>