<div id="About" class="content-tab">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">

            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">Hello, let me introduce myself:</p>
                    <hr>
                    <p class="subtitle">I am Enzo CONTY, and I am <span id='myAge'></span> years old <a href="https://www.malt.fr/profile/enzoconty" target="_blank" title="Hire me there !">freelance developer</a> 
                        and also a PhD student in <a href="https://www.sut.ru/" target="_blank">СПбГУТ</a><br><br>
                
                        I am passionate about computer science for 5+ years now.<br>
                        I learned multiples programming languages to be the most versatile.<br>
                        I’ve worked on many projects that are interresting and allowed me to improve my skills.<br>
                        I hope we can meet so I can introduce myself in person.<br><br>
                        Kindly, Enzo CONTY
                    </p>
                </article>
            </div>

            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success bg-tile">
                        <h1 class="title">Github</h1>
                        <hr>
                        <figure class="image" style="text-align: center">
                            <i style="font-size: 80px;" class="devicon-github-plain-wordmark"></i><br><br>
                            <a href="https://github.com/BLKKKBVSIK" class="button is-info">View it</a>
                        </figure>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child notification is-primary">
                            <h1 class="title">My resume:</h1>
                            <hr>

                            <figure class="image" style="text-align: center">
                                <i class="fa fa-file fa-5x"></i><br><br>
                                <a href=".documents/ENCV.pdf" class="button is-info">View it</a>
                            </figure>
                    </article>
                </div>

            </div>

        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-link">
                <div class="content">
                    <h1 class="title">Skills</h1>
                    <hr>
                    {% if softskills.items %}
                        {% for item in softskills.items %}
                            <p>{{item.title}}
                                <progress class="progress 
                                {% if item.percent > 65 %}is-primary{% elseif item.percent > 50 %}is-success{% elseif item.percent > 35 %}is-warning{% else %}is-danger{% endif %}"
                                value="{{item.percent}}" max="100">{{item.percent}}%</progress>
                            </p>
                        {% endfor %}
                    {% endif %}
                    <p>
                        ...and much more.<br><a onclick="openTab(event,'Skills')">Click here to get the complete
                            list</a>
                    </p>
                </div>
            </article>
        </div>
    </div>
    <article class="message is-info">
        <div class="message-header">
            3 things I do enjoy in my jobs:
        </div>
        <div class="message-body">
            <div class="content">
                <ul>
                    <li>
                        What I love the most, of course, is being <strong>wrong</strong>, learning why, and
                        improving from that.
                    </li>
                    <li>
                        Work on complex problems and <strong>solve new challenges</strong>.
                    </li>
                    <li>
                        <strong>Creating the best content possible</strong> by putting myself in the user's shoes.
                    </li>
                </ul>

                <figure class="highlight">
                </figure>
            </div>
        </div>
    </article>
</div>