<div id="Contact" class="content-tab" style="display:none">
    <div class="container">
        <div class="section">
            <div class="card is-horizontal">
                <div class="card-image">
                    <div id="mapid" style="width: 500px; height: 100%;">
                    </div>
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h3>How to contact me ?</h3>
                            <p>Hire me <a href="https://www.malt.fr/profile/enzoconty" target="_blank">there</a> !</p>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark">fast reply?</span>
                                <span class="tag is-primary">yes</span>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <div id="contact-de">
                            <form id="contact-form" action="https://formspree.io/contact@enzoconty.dev"
                                  method="POST">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">From</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input class="input" name="firstname" type="text"
                                                       placeholder="First name">
                                                <span class="icon is-small is-left">
                                                  <i class="fa fa-user"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" name="lastname" type="text"
                                                       placeholder="Last name">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label"></div>
                                    <div class="field-body">
                                        <div class="field is-expanded">
                                            <div class="field has-addons">
                                                <p class="control is-expanded has-icons-left has-icons-right">
                                                    <input class="input" name="email" type="email"
                                                           placeholder="Email">
                                                    <span class="icon is-small is-left">
                                                      <i class="fa fa-envelope"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Subject</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <div class="select">
                                                    <select name="subject">
                                                        <option>I have a question</option>
                                                        <option>I have a problem</option>
                                                        <option>I want to hire you</option>
                                                        <option>other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Message</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <textarea name="message" class="textarea"
                                                          placeholder="Explain how can I help you"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label">
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-primary is-outlined">
                                                    Send message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card is-horizontal">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h3>Other way ?</h3>
                        </div>
                    </div>
                    <div class="content">
                        <div id="contact">
                            <p>
                                Contact me via email:<br>
                                <a class="button is-primary is-outlined" href="mailto:contact@enzoconty.dev">contact@enzoconty.dev</a>
                            </p>
                            <p>
                                Contact me via Twitter:<br>
                                <a class="button is-info is-outlined" href="https://twitter.com/EnzoConty" target="_blank" >@EnzoConty</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>