<div id="Exp" class="content-tab" style="display:none">
    <div class="timeline is-centered">
        <header class="timeline-header">
            <span class="tag is-medium is-link">Start</span>
        </header>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2015</p>
                <p>Completed a A-Level in engineering science with distinction<br>
                    Les Iris high school, Lormont (France).</p>
                <a href="static/.documents/sti2d.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">September 2015</p>
                <p>Beginning first year of Epitech school<br>
                    Epitech school, Bordeaux (France).</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2016</span>
        </header>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2016</p>
                <p>Beginning second year of Epitech school<br>
                    Epitech school, Bordeaux (France).</p>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">August 2016 - December 2016</p>
                <p>Intern at Etiam<br>
                    Implementation of a new graphical charter
                    of an application dedicated to tele-expertise.
                    Rennes & Bègles (France), 4months.
                </p>
                <a href="static/.documents/stageTek2.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2017</span>
        </header>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2017</p>
                <p>Beginning thirth year of Epitech school<br>
                    Epitech school, Bordeaux (France).</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2018</span>
        </header>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">April 2018 - August 2018</p>
                <p>Intern at JePilote<br>
                    Adding new features for an accountant software company<br>
                    Bordeaux (France), 4months.
                </p>
                <a href="static/.documents/stageTek3.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2018</p>
                <p>Graduate from bachelor degree<br>
                    Epitech school, Bordeaux (France).</p>
                <a href="static/.documents/bachelor.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>

            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2018</p>
                <p>Beginning fourth year of Epitech school<br>
                    Epitech school, Paris (France).</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2019</span>
        </header>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-map"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">September 2018 - June 2019</p>
                <p>Graduate from СПбГУТ<br>
                    Bonch-Bruevich Saint-Petersburg State University of Telecommunications, Saint-Petersburg
                    (Russia).</p>
                <a href="static/.documents/bonch.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2019</p>
                <p>Beginning fifth year of Epitech school<br>
                    Epitech school, Paris (France).</p>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">September 2019 - Now</p>
                <p>Full-time Freelance<br>
                    working as a freelance through
                    <a href="https://www.comet.co/">Comet</a> and <a href="https://www.malt.fr/">Malt</a>.</p>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">July 2020 - September 2020</p>
                <p>Intern at Livearts<br>
                    Creating mobile applications with Flutter and Dart.<br>Full remote</p>
                <a href="static/.documents/stageTek5.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">November 2020</p>
                <p>Beginning preparatory course for PhD in СПбГУТ<br>
                    Bonch-Bruevich Saint-Petersburg State University of Telecommunications, Saint-Petersburg
                    (Russia).</p>
            </div>
        </div>
        <div class="timeline-item is-link">
            <div class="timeline-marker is-link is-icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-content">
                <p class="heading">December 2020</p>
                <p>Graduate from master degree<br>
                    Epitech school, Paris (France).</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-medium is-link">End</span>
        </header>
    </div>

</div>