<div id="Hobbies" class="content-tab" style="display:none">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <iframe src="https://widgets.trakt.tv/users/4b9a65aa470984709b128e582d6270e5/profile/card"
                            scrolling="no" frameborder="0" seamless
                            style="border: 0; width: 100%; height: 510px; background-color: #222222;"></iframe>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p>Movies, TV Shows, Anime</p>
                    </div>

                    <div class="content">
                        I watch a lot of them. Its definitively one of my passion <a href="#">#Netflix</a> <a
                                href="#">#SeriesAddict</a> <a href="#">#Plex</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <iframe width="100%" height="510" style="height: 510px !important;"
                            src="https://instagram.com/p/BqA6fcql3sR/embed" frameborder="0"></iframe>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p>Photography</p>
                    </div>

                    <div class="content">
                        I like taking photos, unfortunately I'm not that good at it. <a href="#">#CanonEOS200D</a>
                        <a href="#">#Nature</a> <a href="#">#Museum</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="is-divider" data-content="AND"></div>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1EM6uQ7eQmiQo8"
                            style="height: 510px !important;" width="100%" height="380" frameborder="0"
                            allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p>Music</p>
                    </div>

                    <div class="content">
                        Anywhere and anytime, I listen to music. <a href="#">#Spotify</a> <a href="#">#Youtube</a>
                        <a href="#">#KanyeWest</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
        </div>
    </div>
</div>