<div id="Skills" class="content-tab" style="display:none">
    {% if frontend.items %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>FRONT-END</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile" >
                    {% for item in frontend.items %}
                        <div class="column is-one-quarter {% if item.title == 'flutter' %} has-tooltip-bottom has-tooltip-arrow has-tooltip-info has-tooltip-hidden-mobile has-tooltip-active {% endif %}"
                            {% if item.title == 'flutter' %} data-tooltip="👆 Click 👆" {% endif %}
                        >
                            <a onclick="quickviewlang('{{item.title}}', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/{{item.title}}.png" class="responsive-img">
                            </a>
                        </div>
                        <div id="{{item.title}}" class="quickview">
                            <header class="quickview-header">
                                <a class="button is-info" href="{{item.url}}" target="_blank">Open this page in a new tab</a>
                                <p>{{item.title | makeUppercase}}</p>
                                <span class="delete" onclick="quickviewlang('{{item.title}}')"></span>
                            </header>
                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <iframe id="{{item.title}}Iframe" name="{{item.title}}Iframe" data-src="{{item.url}}" src="about:blank" class="framed-lang"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if backend.items %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>BACK-END</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile">
                    {% for item in backend.items %}
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('{{item.title}}', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/{{item.title}}.png" class="responsive-img">
                            </a>
                        </div>
                        <div id="{{item.title}}" class="quickview">
                            <header class="quickview-header">
                                <a class="button is-info" href="{{item.url}}" target="_blank">Open this page in a new tab</a>
                                <p>{{item.title | makeUppercase}}</p>
                                <span class="delete" onclick="quickviewlang('{{item.title}}')"></span>
                            </header>
                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <iframe id="{{item.title}}Iframe" name="{{item.title}}Iframe" data-src="{{item.url}}" src="about:blank" class="framed-lang"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if databases.items %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>DATABASES</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile">
                    {% for item in databases.items %}
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('{{item.title}}', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/{{item.title}}.png" class="responsive-img">
                            </a>
                        </div>
                        <div id="{{item.title}}" class="quickview">
                            <header class="quickview-header">
                                <a class="button is-info" href="{{item.url}}" target="_blank">Open this page in a new tab</a>
                                <p>{{item.title | makeUppercase}}</p>
                                <span class="delete" onclick="quickviewlang('{{item.title}}')"></span>
                            </header>
                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <iframe id="{{item.title}}Iframe" name="{{item.title}}Iframe" data-src="{{item.url}}" src="about:blank" class="framed-lang"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if compiledlanguages.items %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>COMPILED LANGUAGES</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile">
                    {% for item in compiledlanguages.items %}
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('{{item.title}}', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/{{item.title}}.png" class="responsive-img">
                            </a>
                        </div>
                        <div id="{{item.title}}" class="quickview">
                            <header class="quickview-header">
                                <a class="button is-info" href="{{item.url}}" target="_blank">Open this page in a new tab</a>
                                <p>{{item.title | makeUppercase}}</p>
                                <span class="delete" onclick="quickviewlang('{{item.title}}')"></span>
                            </header>
                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <iframe id="{{item.title}}Iframe" name="{{item.title}}Iframe" data-src="{{item.url}}" src="about:blank" class="framed-lang"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if other.items %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>OTHER</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile">
                    {% for item in other.items %}
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('{{item.title}}', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/{{item.title}}.png" class="responsive-img">
                            </a>
                        </div>
                        <div id="{{item.title}}" class="quickview">
                            <header class="quickview-header">
                                <a class="button is-info" href="{{item.url}}" target="_blank">Open this page in a new tab</a>
                                <p>{{item.title | makeUppercase}}</p>
                                <span class="delete" onclick="quickviewlang('{{item.title}}')"></span>
                            </header>
                            <div class="quickview-body">
                                <div class="quickview-block">
                                    <iframe id="{{item.title}}Iframe" name="{{item.title}}Iframe" data-src="{{item.url}}" src="about:blank" class="framed-lang"></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card skill-cards">
        <div class="card-content">
            <h3>LANGUAGES</h3>
            <div class="is-divider"></div>
            <div style="text-align: center">
                <div class="columns is-gapless is-multiline is-mobile">
                    <div class="column is-one-quarter">
                        <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/fr.png"><br></br>French<br>Mother
                        tongue
                    </div>
                    <div class="column is-one-quarter">
                        <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/gb.png"><br></br>English<br>Fluent
                    </div>
                    <div class="column is-one-quarter">
                        <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/ru.png"><br></br>Russian<br>Proficient
                    </div>
                    <div class="column is-one-quarter">
                        <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/es.png"><br></br>Spanish<br>School
                        notions
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>