<div class="container section">
    {% include "src/_includes/content/about.html" %}
    {% include "src/_includes/content/hobbies.html" %}
    {% include "src/_includes/content/experience.html" %}
    {% include "src/_includes/content/skills.html" %}
    {% include "src/_includes/content/contact.html" %}
</div>

<script>

document.getElementById("myAge").innerHTML = calculateMyAge('07/09/1997');

var map = L.map('mapid').setView([59.912816, 30.307053], 12);

map.createPane('labels');

map.getPane('labels').style.zIndex = 650;

var marker = new L.Marker([59.912816, 30.307053]);
var popup = new L.Popup();

marker.addTo(map);

var cartodbAttribution = '&copy;';

var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
    attribution: cartodbAttribution
}).addTo(map);

var positronLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
    attribution: cartodbAttribution,
    pane: 'labels'
}).addTo(map);

$(".modal-background").click(function () {
    $(".modal").removeClass("is-active");
});

$(".modal-close").click(function () {
    $(".modal").removeClass("is-active");
});
var quickviews = bulmaQuickview.attach();
</script>