<div class="container section">
    <div id="About" class="content-tab">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">

                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Hello, let me introduce myself:</p>
                        <hr>
                        <p class="subtitle">I am Enzo CONTY, and I am a 23 years old <a href="https://www.malt.fr/profile/enzoconty" target="_blank" title="Hire me there !">freelance developer</a> 
                            and also a PhD student in <a href="https://www.sut.ru/" target="_blank">СПбГУТ</a><br><br>
                    
                            I am passionate about computer science for 5+ years now.<br>
                            I learned multiples programming languages to be the most versatile.<br>
                            I’ve worked on many projects that are interresting and allowed me to improve my skills.<br>
                            I hope we can meet so I can introduce myself in person.<br><br>
                            Kindly, Enzo CONTY
                        </p>
                    </article>
                </div>

                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-success bg-tile">
                            <h1 class="title">Github</h1>
                            <hr>
                            <figure class="image" style="text-align: center">
                                <i style="font-size: 80px;" class="devicon-github-plain-wordmark"></i><br><br>
                                <a href="https://github.com/BLKKKBVSIK" class="button is-info">View it</a>
                            </figure>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="tile is-child notification is-primary">
                                <h1 class="title">My resume:</h1>
                                <hr>

                                <figure class="image" style="text-align: center">
                                    <i class="fa fa-file fa-5x"></i><br><br>
                                    <a href=".documents/ENCV.pdf" class="button is-info">View it</a>
                                </figure>
                        </article>
                    </div>

                </div>

            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-link">
                    <div class="content">
                        <h1 class="title">Skills</h1>
                        <hr>

                        <p>Front-end
                            <progress class="progress is-success" value="65" max="100">65%</progress>
                        </p>
                        <p>Back-end
                            <progress class="progress is-primary" value="75" max="100">75%</progress>
                        </p>
                        <p>Databases
                            <progress class="progress is-success" value="60" max="100">60%</progress>
                        </p>
                        <p>Mobile Apps
                            <progress class="progress is-primary" value="80" max="100">80%</progress>
                        </p>
                        <p>Sys Admin
                            <progress class="progress is-warning" value="50" max="100">50%</progress>
                        </p>
                        <p>Reverse engineering
                            <progress class="progress is-danger" value="35" max="100">35%</progress>
                        </p>
                        <p>API
                            <progress class="progress is-primary" value="65" max="100">65%</progress>
                        </p>
                        <p>Team Work
                            <progress class="progress is-primary" value="60" max="100">60%</progress>
                        </p>
                        <p>
                            ...and much more.<br><a onclick="openTab(event,'Skills')">Click here to get the complete
                                list</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <article class="message is-info">
            <div class="message-header">
                3 things I do enjoy in my jobs:
            </div>
            <div class="message-body">
                <div class="content">
                    <ul>
                        <li>
                            What I love the most, of course, is being <strong>wrong</strong>, learning why, and
                            improving from that.
                        </li>
                        <li>
                            Work on complex problems and <strong>solve new challenges</strong>.
                        </li>
                        <li>
                            <strong>Creating the best content possible</strong> by putting myself in the user's shoes.
                        </li>
                    </ul>

                    <figure class="highlight">
                    </figure>
                </div>
            </div>
        </article>
    </div>
    <div id="Hobbies" class="content-tab" style="display:none">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <iframe src="https://widgets.trakt.tv/users/4b9a65aa470984709b128e582d6270e5/profile/card"
                                scrolling="no" frameborder="0" seamless
                                style="border: 0; width: 100%; height: 510px; background-color: #222222;"></iframe>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p>Movies, TV Shows, Anime</p>
                        </div>

                        <div class="content">
                            I watch a lot of them. Its definitively one of my passion <a href="#">#Netflix</a> <a
                                    href="#">#SeriesAddict</a> <a href="#">#Plex</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-divider-vertical"></div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <iframe width="100%" height="510" style="height: 510px !important;"
                                src="https://instagram.com/p/BqA6fcql3sR/embed" frameborder="0"></iframe>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p>Photography</p>
                        </div>

                        <div class="content">
                            I like taking photos, unfortunately I'm not that good at it. <a href="#">#CanonEOS200D</a>
                            <a href="#">#Nature</a> <a href="#">#Museum</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-divider" data-content="AND"></div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1EM6uQ7eQmiQo8"
                                style="height: 510px !important;" width="100%" height="380" frameborder="0"
                                allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    <div class="card-content">
                        <div class="media-content">
                            <p>Music</p>
                        </div>

                        <div class="content">
                            Anywhere and anytime, I listen to music. <a href="#">#Spotify</a> <a href="#">#Youtube</a>
                            <a href="#">#KanyeWest</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-divider-vertical"></div>
            <div class="column">
            </div>
        </div>
    </div>

    <div id="Exp" class="content-tab" style="display:none">
        <div class="timeline is-centered">
            <header class="timeline-header">
                <span class="tag is-medium is-link">Start</span>
            </header>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2015</p>
                    <p>Completed a A-Level in engineering science with distinction<br>
                        Les Iris high school, Lormont (France).</p>
                    <a href=".documents/sti2d.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">September 2015</p>
                    <p>Beginning first year of Epitech school<br>
                        Epitech school, Bordeaux (France).</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2016</span>
            </header>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2016</p>
                    <p>Beginning second year of Epitech school<br>
                        Epitech school, Bordeaux (France).</p>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">August 2016 - December 2016</p>
                    <p>Intern at Etiam<br>
                        Implementation of a new graphical charter
                        of an application dedicated to tele-expertise.
                        Rennes & Bègles (France), 4months.
                    </p>
                    <a href=".documents/stageTek2.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2017</span>
            </header>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2017</p>
                    <p>Beginning thirth year of Epitech school<br>
                        Epitech school, Bordeaux (France).</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2018</span>
            </header>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">April 2018 - August 2018</p>
                    <p>Intern at JePilote<br>
                        Adding new features for an accountant software company<br>
                        Bordeaux (France), 4months.
                    </p>
                    <a href=".documents/stageTek3.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2018</p>
                    <p>Graduate from bachelor degree<br>
                        Epitech school, Bordeaux (France).</p>
                    <a href=".documents/bachelor.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>

                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2018</p>
                    <p>Beginning fourth year of Epitech school<br>
                        Epitech school, Paris (France).</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2019</span>
            </header>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-map"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">September 2018 - June 2019</p>
                    <p>Graduate from СПбГУТ<br>
                        Bonch-Bruevich Saint-Petersburg State University of Telecommunications, Saint-Petersburg
                        (Russia).</p>
                    <a href=".documents/bonch.pdf" target="_blank"><button class="button is-primary is-outlined">See my certificate</button></a>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2019</p>
                    <p>Beginning fifth year of Epitech school<br>
                        Epitech school, Paris (France).</p>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">September 2019 - Now</p>
                    <p>Full-time Freelance<br>
                        working as a freelance through
                        <a href="https://www.comet.co/">Comet</a> and <a href="https://www.malt.fr/">Malt</a>.</p>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">July 2020 - September 2020</p>
                    <p>Intern at Livearts<br>
                        Creating mobile applications with Flutter and Dart.<br>Full remote</p>
                    <a href=".documents/stageTek5.pdf" target="_blank"><button class="button is-primary is-outlined">See my report</button></a>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">November 2020</p>
                    <p>Beginning preparatory course for PhD in СПбГУТ<br>
                        Bonch-Bruevich Saint-Petersburg State University of Telecommunications, Saint-Petersburg
                        (Russia).</p>
                </div>
            </div>
            <div class="timeline-item is-link">
                <div class="timeline-marker is-link is-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-content">
                    <p class="heading">December 2020</p>
                    <p>Graduate from master degree<br>
                        Epitech school, Paris (France).</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-medium is-link">End</span>
            </header>
        </div>

    </div>
    <div id="Contact" class="content-tab" style="display:none">
        <div class="container">
            <div class="section">
                <div class="card is-horizontal">
                    <div class="card-image">
                        <div id="mapid" style="width: 500px; height: 500px;">
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <h3>How to contact me ?</h3>
                                <p>Hire me <a href="https://www.malt.fr/profile/enzoconty" target="_blank">there</a> !</p>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">fast reply?</span>
                                    <span class="tag is-primary">yes</span>
                                </div>
                            </div>
                        </div>

                        <div class="content">
                            <div id="contact-de">
                                <form id="contact-form" action="https://formspree.io/contact@enzoconty.dev"
                                      method="POST">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">From</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded has-icons-left">
                                                    <input class="input" name="firstname" type="text"
                                                           placeholder="First name">
                                                    <span class="icon is-small is-left">
                                                      <i class="fa fa-user"></i>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control is-expanded">
                                                    <input class="input" name="lastname" type="text"
                                                           placeholder="Last name">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field is-horizontal">
                                        <div class="field-label"></div>
                                        <div class="field-body">
                                            <div class="field is-expanded">
                                                <div class="field has-addons">
                                                    <p class="control is-expanded has-icons-left has-icons-right">
                                                        <input class="input" name="email" type="email"
                                                               placeholder="Email">
                                                        <span class="icon is-small is-left">
                                                          <i class="fa fa-envelope"></i>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Subject</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <div class="select">
                                                        <select name="subject">
                                                            <option>I have a question</option>
                                                            <option>I have a problem</option>
                                                            <option>I want to hire you</option>
                                                            <option>other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Message</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <textarea name="message" class="textarea"
                                                              placeholder="Explain how can I help you"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label">
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <button class="button is-primary is-outlined">
                                                        Send message
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card is-horizontal">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <h3>Other way ?</h3>
                            </div>
                        </div>

                        
                        
                                <!-- <p><span data-tooltip="Tooltip content">consectetur adipisicing elit</span>.</p> -->

                        <div class="content">
                            <div id="contact">
                                <p>
                                    Contact me via email:<br>
                                    <a class="button is-primary is-outlined" href="mailto:contact@enzoconty.dev">contact@enzoconty.dev</a>
                                </p>
                                <p>
                                    Or on WhatsApp:<br>
                                    <a class="button is-link is-outlined" href="https://wa.me/33603012713">Contact me
                                        via WhatsApp</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Skills" class="content-tab" style="display:none">
        <!-- {% if frontend.items %} -->
        <div class="card skill-cards">
            <div class="card-content">
                <h3>FRONT-END</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile" >
                        <!-- http://konpa.github.io/devicon/ -->
                        
                    <!-- {% for item in frontend.items %}
                    <div class="column is-one-quarter">
                        <a id="buttonHTML" onclick="quickviewlang('html', quickviews)">
                            <i class="devicon-html5-plain-wordmark colored icons-skills"></i>
                        </a>
                    </div>
                        <li class="nav__item mr-3">
                            <a @click="isOpen = false" class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %} -->


                        <div class="column is-one-quarter">
                            <a id="buttonHTML" onclick="quickviewlang('html', quickviews)">
                                <i class="devicon-html5-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>

                        <div class="column is-one-quarter">
                            <a id="buttonHTML" onclick="quickviewlang('html', quickviews)">
                                <i class="devicon-html5-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('css', quickviews)">
                                <i class="devicon-css3-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('sass', quickviews)">
                                <i class="devicon-sass-original colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('bootstrap', quickviews)">
                                <i class="devicon-bootstrap-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('materialize', quickviews)">
                                <img alt="" width="80" src="./static/img/icons/materialize.png" class="responsive-img">
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('bulma', quickviews)">
                                <img alt="" width="80" src="./static/img/icons/bulma.png" class="responsive-img">
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('js', quickviews)">
                                <i class="devicon-javascript-plain colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('jquery', quickviews)">
                                <i class="devicon-jquery-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('react', quickviews)">
                                <i class="devicon-react-original-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('vue', quickviews)">
                            <i class="devicon-vuejs-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter has-tooltip-bottom has-tooltip-arrow has-tooltip-info has-tooltip-hidden-mobile has-tooltip-active " data-tooltip="👆 Click 👆">
                            <a onclick="quickviewlang('flutter', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/flutter.svg" class="responsive-img">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- {% endif %} -->
        <div class="card skill-cards">
            <div class="card-content">
                <h3>BACK-END</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('php', quickviews)">
                                <i class="devicon-php-plain colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('python', quickviews)">
                                <i class="devicon-python-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('nodejs', quickviews)">
                                <i class="devicon-nodejs-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('ruby', quickviews)">
                                <i class="devicon-ruby-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('django', quickviews)">
                            <i class="devicon-django-plain colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('dart', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/dart.svg" class="responsive-img"><br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card skill-cards">
            <div class="card-content">
                <h3>DATABASES</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('mysql', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/mysql.svg" class="responsive-img">
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('firebase', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/firebase.svg" class="responsive-img">
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('sqlite', quickviews)">
                                <img alt="" width="70" src="./static/img/icons/sqlite.svg" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card skill-cards">
            <div class="card-content">
                <h3>COMPILED LANGUAGES</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('c', quickviews)">
                            <i class="devicon-c-line-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('cplusplus', quickviews)">
                            <i class="devicon-cplusplus-line-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('swift', quickviews)">
                            <i class="devicon-swift-plain colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('java', quickviews)">
                            <i class="devicon-java-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card skill-cards">
            <div class="card-content">
                <h3>OTHER</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('debian', quickviews)">
                            <i class="devicon-debian-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('macos', quickviews)">
                            <img width="80px" alt="MacOS logo" src="./static/img/icons/macos.png">
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('apache', quickviews)">
                            <i class="devicon-apache-line-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('git', quickviews)">
                            <i class="devicon-git-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('heroku', quickviews)">
                            <i class="devicon-heroku-line-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('slack', quickviews)">
                            <i class="devicon-slack-plain-wordmark colored icons-skills"></i>
                            </a>
                        </div>
                        <div class="column is-one-quarter">
                            <a onclick="quickviewlang('photoshop', quickviews)">
                            <img width="90px" src="./static/img/icons/photoshop.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card skill-cards">
            <div class="card-content">
                <h3>LANGUAGES</h3>
                <div class="is-divider"></div>
                <div style="text-align: center">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column is-one-quarter">
                            <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/fr.png"><br></br>French<br>Mother
                            tongue
                        </div>
                        <div class="column is-one-quarter">
                            <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/gb.png"><br></br>English<br>Fluent
                        </div>
                        <div class="column is-one-quarter">
                            <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/ru.png"><br></br>Russian<br>Proficient
                        </div>
                        <div class="column is-one-quarter">
                            <img width="90px" style="border: black solid 1px;height: auto !important;" src="./static/img/es.png"><br></br>Spanish<br>School
                            notions
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>

    <div id="html" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/HTML" target="_blank">Open this page in a new tab</a>
            <p>HTML 5</p>
            <span class="delete" onclick="quickviewlang('html')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="htmlIframe" name="htmlIframe" data-src="https://en.wikipedia.org/wiki/HTML" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="css" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">Open
                this page in a new tab</a>
            <p>CSS 3</p>
            <span class="delete" onclick="quickviewlang('css')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="cssIframe" name="cssIframe" data-src="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="sass" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://sass-lang.com/" target="_blank">Open this page in a new tab</a>
            <p>SASS</p>
            <span class="delete" onclick="quickviewlang('sass')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="sassIframe" name="sassIframe" data-src="https://sass-lang.com/" src="about:blank" class="framed-lang"></iframe>

            </div>
        </div>
    </div>

    <div id="bootstrap" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://getbootstrap.com/" target="_blank">Open this page in a new tab</a>
            <p>Bootstrap</p>
            <span class="delete" onclick="quickviewlang('bootstrap')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="bootstrapIframe" name="bootstrapIframe" data-src="https://getbootstrap.com/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="materialize" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://materializecss.com/" target="_blank">Open this page in a new tab</a>
            <p>Materialize</p>
            <span class="delete" onclick="quickviewlang('materialize')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="materializeIframe" name="materializeIframe" data-src="https://materializecss.com/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="bulma" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://bulma.io/" target="_blank">Open this page in a new tab</a>
            <p>Bulma</p>
            <span class="delete" onclick="quickviewlang('bulma')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="bulmaIframe" name="bulmaIframe" data-src="https://bulma.io/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="js" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">Open this page in a new tab</a>
            <p>JS</p>
            <span class="delete" onclick="quickviewlang('js')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="jsIframe" name="jsIframe" data-src="https://en.wikipedia.org/wiki/JavaScript" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="jquery" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://jquery.com/" target="_blank">Open this page in a new tab</a>
            <p>jQuery</p>
            <span class="delete" onclick="quickviewlang('jquery')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="jqueryIframe" name="jqueryIframe" data-src="https://jquery.com/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="react" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/React_(JavaScript_library)" target="_blank">Open this page in a new tab</a>
            <p>React</p>
            <span class="delete" onclick="quickviewlang('react')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="reactIframe" name="reactIframe" data-src="https://en.wikipedia.org/wiki/React_(JavaScript_library)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="vue" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://vuejs.org/" target="_blank">Open this page in a new tab</a>
            <p>Vue</p>
            <span class="delete" onclick="quickviewlang('vue')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="vueIframe" name="vueIframe" data-src="https://vuejs.org/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="flutter" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://flutter.dev/" target="_blank">Open this page in a new tab</a>
            <p>Flutter</p>
            <span class="delete" onclick="quickviewlang('flutter')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="flutterIframe" name="flutterIframe" data-src="https://flutter.dev/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="php" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/PHP" target="_blank">Open this page in a new tab</a>
            <p>PHP</p>
            <span class="delete" onclick="quickviewlang('php')"></span>
        </header>

        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="phpIframe" name="phpIframe" data-src="https://en.wikipedia.org/wiki/PHP" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="python" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank">Open this page in a new tab</a>
            <p>Python</p>
            <span class="delete" onclick="quickviewlang('python')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="pythonIframe" name="pythonIframe" data-src="https://en.wikipedia.org/wiki/Python_(programming_language)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="nodejs" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Node.js" target="_blank">Open this page in a new tab</a>
            <p>NodeJS</p>
            <span class="delete" onclick="quickviewlang('nodejs')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="nodejsIframe" name="nodejsIframe" data-src="https://en.wikipedia.org/wiki/Node.js" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="ruby" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Ruby_(programming_language)" target="_blank">Open this page in a new tab</a>
            <p>Ruby</p>
            <span class="delete" onclick="quickviewlang('ruby')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="rubyIframe" name="rubyIframe" data-src="https://en.wikipedia.org/wiki/Ruby_(programming_language)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="django" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Django_(web_framework)" target="_blank">Open this page in a new tab</a>
            <p>Django</p>
            <span class="delete" onclick="quickviewlang('django')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="djangoIframe" name="djangoIframe" data-src="https://en.wikipedia.org/wiki/Django_(web_framework)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="dart" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://dart.dev/" target="_blank">Open this page in a new tab</a>
            <p>Dart</p>
            <span class="delete" onclick="quickviewlang('dart')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="dartIframe" name="dartIframe" data-src="https://dart.dev/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="mysql" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/MySQL" target="_blank">Open this page in a new tab</a>
            <p>MySQL</p>
            <span class="delete" onclick="quickviewlang('mysql')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="mysqlIframe" name="mysqlIframe" data-src="https://en.wikipedia.org/wiki/MySQL" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="firebase" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Firebase" target="_blank">Open this page in a new tab</a>
            <p>Firebase</p>
            <span class="delete" onclick="quickviewlang('firebase')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="firebaseIframe" name="firebaseIframe" data-src="https://en.wikipedia.org/wiki/Firebase" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="sqlite" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://www.sqlite.org/" target="_blank">Open this page in a new tab</a>
            <p>SQLite</p>
            <span class="delete" onclick="quickviewlang('sqlite')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="sqliteIframe" name="sqliteIframe" data-src="https://www.sqlite.org/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="c" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">Open this page in a new tab</a>
            <p>C</p>
            <span class="delete" onclick="quickviewlang('c')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="cIframe" name="cIframe" data-src="https://en.wikipedia.org/wiki/C_(programming_language)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="cplusplus" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">Open this page in a new tab</a>
            <p>C++</p>
            <span class="delete" onclick="quickviewlang('cplusplus')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="cplusplusIframe" name="cplusplusIframe" data-src="https://en.wikipedia.org/wiki/C%2B%2B" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="swift" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Swift_(programming_language)" target="_blank">Open this page in a new tab</a>
            <p>Swift</p>
            <span class="delete" onclick="quickviewlang('swift')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="swiftIframe" name="swiftIframe" data-src="https://en.wikipedia.org/wiki/Swift_(programming_language)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="java" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://docs.oracle.com/en/java/javase/12/" target="_blank">Open this page in a new tab</a>
            <p>Java</p>
            <span class="delete" onclick="quickviewlang('java')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="javaIframe" name="javaIframe" data-src="https://docs.oracle.com/en/java/javase/12/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="debian" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Debian" target="_blank">Open this page in a new tab</a>
            <p>Debian</p>
            <span class="delete" onclick="quickviewlang('debian')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="debianIframe" name="debianIframe" data-src="https://en.wikipedia.org/wiki/Debian" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="macos" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/MacOS" target="_blank">Open this page in a new tab</a>
            <p>MacOS</p>
            <span class="delete" onclick="quickviewlang('macos')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="macosIframe" name="macosIframe" data-src="https://en.wikipedia.org/wiki/MacOS" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="apache" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://httpd.apache.org/" target="_blank">Open this page in a new tab</a>
            <p>Apache</p>
            <span class="delete" onclick="quickviewlang('apache')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="apacheIframe" name="apacheIframe" data-src="https://httpd.apache.org/" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="git" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Git" target="_blank">Open this page in a new tab</a>
            <p>Git</p>
            <span class="delete" onclick="quickviewlang('git')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="gitIframe" name="gitIframe" data-src="https://en.wikipedia.org/wiki/Git" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="heroku" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Heroku" target="_blank">Open this page in a new tab</a>
            <p>Heroku</p>
            <span class="delete" onclick="quickviewlang('heroku')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="herokuIframe" name="herokuIframe" data-src="https://en.wikipedia.org/wiki/Heroku" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="slack" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Slack_(software)" target="_blank">Open this page in a new tab</a>
            <p>Slack</p>
            <span class="delete" onclick="quickviewlang('slack')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="slackIframe" name="slackIframe" data-src="https://en.wikipedia.org/wiki/Slack_(software)" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>

    <div id="photoshop" class="quickview">
        <header class="quickview-header">
            <a class="button is-info" href="https://en.wikipedia.org/wiki/Adobe_Photoshop" target="_blank">Open this page in a new tab</a>
            <p>Photoshop</p>
            <span class="delete" onclick="quickviewlang('photoshop')"></span>
        </header>
        <div class="quickview-body">
            <div class="quickview-block">
                <iframe id="photoshopIframe" name="photoshopIframe" data-src="https://en.wikipedia.org/wiki/Adobe_Photoshop" src="about:blank" class="framed-lang"></iframe>
            </div>
        </div>
    </div>
</div>




<!-- <div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div> -->