<footer class="footer">
    <div class="footer" id="blur-footer">
        <div class="content has-text-centered">
            <p>
                Website and background by Enzo Conty<br>
                <a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--white.png"
                                                alt="Made with Bulma" width="20%"></a><br>
                The website content is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC
                    SA 4.0</a>.
            </p>
        </div>
    </div>
</footer>