<section class="hero is-medium" id="hero-img">
    <div class="hero-head">
        <nav class="navbar is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="./static/img/favicon.png" alt="Logo">
                        <span id="devname">&nbsp;&nbsp;&nbsp;Enzo CONTY - Full Stack Developer</span>
                    </a>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <div data-aos="fade-left" id="hire-button" class="navbar-item cta aos-animate">
                            <a href="mailto:contact@enzoconty.dev" rel="noopener noreferrer"
                               class="button is-primary is-undefined is-undefined">
                                <span>Hire me <span role="img" aria-label="emoji">✉️</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container" id="text-hero">
            <p class="title">
                Enzo CONTY
            </p>
            <p class="subtitle">
                Full Stack Developer
            </p>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    
                    <li class="tab is-active" onclick="openTab(event,'About')"><a>About</a></li>
                    <li class="tab" onclick="openTab(event,'Hobbies')"><a>Hobbies</a></li>
                    <li class="tab" onclick="openTab(event,'Exp')"><a>Experience</a></li>
                    <li class="tab" onclick="openTab(event,'Skills')"><a>Skills</a></li>
                    <li class="tab" onclick="openTab(event,'Contact')"><a>Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>